<table class="w-full picture">
  {{#each (chunk 10 @picture.cells) as |row|}}
    <tr>
      {{#each row as |cell|}}
        <td 
          class="border border-grey-darkest w-1/10 {{concat 'bg-' cell.color}}"
          onclick={{action 'updateCellColor' cell}}
          onmousemove={{action 'mouseMove' cell}}
        ></td>
      {{/each}}
    </tr>
  {{/each}}
</table>